* {
	text-decoration: none;
	color: black;
}

.card {
	border: 1px solid #0070f3;
	border-radius: 15px;
	text-align: left;
	min-width: 500px;
	max-width: fit-content;
	padding: 25px;
	max-height: 80px;
	margin: auto;
	cursor: pointer;
	animation-name: fade-in, grow;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	text-decoration: none;
}

.blink {
	/*animation-name: blink;
	animation-duration: 2000ms;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;*/
}

.card:hover {
	
}

.card a:hover {
	color: #0070f3;
	text-decotation: underline;
}

.card * {
	/*border: 1px solid red;*/
	margin: 0px;
}

.card .title {
	font-width: none;
	font-size: 1.5em;
	font-family: sans-serif;
	margin-bottom: 1%;
	color: #0070f3;
}

.card .description {
	font-weight: none;
	font-size: 1em;
	font-family: sans-serif;
	margin-bottom: 1%;
	margin-top: 1%;
}

.card .details {
	display: flex;
	flex-direction: row;
	padding: 0px;
	font-family: monospace;
	font-size: 1.15em;
}

.details > * {
	height: 100%;
	flex: 1;
	margin: 0px;
}

.attribute {
	display: flex;
	flex: 1;
	/*border: 1px solid red;*/
}

.attribute > * {
	height: 100%;
	vertical-align: middle;
	/*border: 1px solid red;*/
}

.attribute:first-child {
	margin-left: 0px !important;
	margin-right: 1%;
}

.attribute:last-child {
	margin-right: 0px !important;
	margin-left: 1%;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes grow {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}