.dropDown {
  position: relative;
  animation-name: drop-down-anm;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes drop-down-anm {
  0% {
    bottom: 100vh;
  }
  100% {
    bottom: 0vh;
  }
}

.typedText {
  display: none;
	overflow: hidden;
  display: inline-block;
  width: 0%;
  animation-name: typed-text-animation;
  animation-delay: 1.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  white-space: nowrap;
  animation-timing-function: steps(400, end);
}

.typedText:after {
	content: "|";
	background-color: #0070ea;
	color: #0070ea;
	animation-name: typed-text-cursor-blink-animation;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
  	width: 0.35ch;
  	display: inline-block;
}

@keyframes typed-text-animation {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
    dispaly: auto;
	}
}

@keyframes typed-text-cursor-blink-animation {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}